@import '../../styles/variables';

.container {
  @include size(700px, $m: auto);
  max-width: 500px;
  .inputWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    @include size(50px, 25px, 30px);
    color: white;
    border: 0;
    background-color: lightblue;
    border-radius: 10px;
    cursor: pointer;
  }
}
