@import '../../styles/variables';

.container {
  position: relative;
  left: 30px;
  .list {
    position: relative;
    .text {
      margin: 4px;
      @include position(relative, -10px);
      word-break: break-all;
      line-height: 26px;
    }
    .inline {
      display: inline;
    }
    .inlineBlock {
      display: inline-block;
    }
    .input {
      @include size(180px, $m: 4px, $p: 4px);
      @include position(relative, -20px);
      outline: none;
      display: inline-block;
    }
    input[type='checkbox'] {
      @include checkBox;
    }
  }
  .updateBtn {
    @include size(50px, 25px, 10px 10px 0 50px);
    @include btnStyle();
    background-color: rgb(48, 151, 189);
  }
  .deleteBtn {
    @include size(50px, 25px, 10px);
    @include btnStyle();
    background-color: rgb(34, 105, 131);
  }
  .cancelBtn {
    @include size(50px, 25px, 10px);
    @include btnStyle();
    background-color: rgb(41, 125, 161);
  }
}
