@import '../../styles/variables';

.container {
  @include size(40vw, $m: auto, $p: 30px);
  display: flex;
  min-width: 300px;
  justify-content: space-around;
  .title {
    font-size: 30px;
  }
  .logOut {
    @include position(relative, $t: 2px);
    color: white;
    border: 0;
    width: 100px;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
  }
}
